<h1>{{article.title}}</h1>
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><b>Author</b></td>
                        <td>{{article.author}}</td>
                    </tr>
                    <tr>
                        <td><b>Posted Date</b></td>
                        <td>{{article.postedDate}}</td>
                    </tr>
                    <tr>
                        <td><b>Category</b></td>
                        <td>{{article.category}}</td>
                    </tr>
                    <tr>
                        <td><b>Likes</b></td>
                        <td>{{article.likes}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-8"><img src="../assets/robotics.jpg" alt=""></div>
        </div>
  
</div>

