        <div class="row" *ngIf="contact">
            <img  [routerLink]="['/edit-contact']" style="cursor:pointer" src="/assets/images/{{contact.id}}.jpg" style="height: 150px;width: 200px;" alt="">

            <div class="col-sm-9"><div class="row">
                <div class="col-sm-4">Id</div>
                <div class="col-sm-8">{{contact.id}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">First Name</div>
                <div class="col-sm-8">{{contact.firstName|genderPipe:contact.gender}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Last Name</div>
                <div class="col-sm-8">{{contact.lastName}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Gender</div>
                <div class="col-sm-8">{{contact.gender}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">DOB</div>
                <div class="col-sm-8">{{contact.dob}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Email</div>
                <div class="col-sm-8">{{contact.email}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"> Phone Number</div>
                <div class="col-sm-8">{{contact.phone}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">City</div>
                <div class="col-sm-8">{{contact.city}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">State</div>
                <div class="col-sm-8">{{contact.state}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Country</div>
                <div class="col-sm-8">{{contact.country}}</div>
            </div></div>
            <div class="col-sm-3">
                <button [routerLink]="['/edit-contact',contact.id]" class="btn btn-success" style="margin-bottom: 15px;" >Edit</button><br>
                <button class="btn btn-danger" style="margin-bottom: 15px;" (click)="deleteContact(contact.id)">Delete</button>
            </div>
        </div>
    